<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--子頁面的hostname-->
    <add key="hostUri" value="http://www82.eyny.com/"/>
    <!--帳號-->
    <add key="account" value=""/>
    <!--密碼-->
    <add key="pwd" value=""/>
    <!--預設的回覆內容-->
    <add key="replyMsg" value="謝謝大大分享，願大大一生平安"/>
  </appSettings>
</configuration>